{% extends 'layouts/base.html' %}

{% block content_admin %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'index_usuario' %}">Usuarios</a></li>
                            <li class="breadcrumb-item active">Lista de usuarios</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Administrar usuarios</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="header-title mb-0">Tabla de usuarios</h4>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_nuevo_usuario"> <i class="uil-plus"></i> Nuevo usuario</button>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="basic-datatable" class="tabla_usuarios table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Correo</th>
                                            <th>Estado</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody id="datos_usuarios">
                                        
                                    </tbody>
                                </table>
                            </div> <!-- end preview-->
                        </div> <!-- end tab-content-->
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div> <!-- end row-->

        <!-- Standard modal content -->
        <div id="modal_nuevo_usuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Nuevo usuario</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" id="form_crear_usuario">
                        <div class="modal-body">
                            <div class="form-group mb-2">
                                <label for="" class="form-label">Ingrese el nombre</label>
                                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Ingrese el nombre completo">
                                <span class="text-danger" id="error_first_name_usuario"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="email" class="form-label">Ingrese el correo</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese el correo">
                                <span class="text-danger" id="error_email_usuario"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="username" class="form-label">Ingrese el usuario</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese el usuario">
                                <span class="text-danger" id="error_username_usuario"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="password1" class="form-label">Ingrese la contraseña</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password1" name="password1" class="form-control" placeholder="Ingrese la contraseña">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                                <span class="text-danger" id="error_password1_usuario"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="password2" class="form-label">Repita la contraseña</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Ingrese la contraseña">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                                <span class="text-danger" id="error_password2_usuario"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="btn_guardar_usuario" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div> <!-- container -->
    
{% endblock content_admin %}

{% block extra_js %}
 
{% endblock extra_js %}
