{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />

<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

<!-- Datatables css -->
<link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Daterangepicker css -->
<link href="{% static 'assets/vendor/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

<!-- Vector Map css -->
<link href="{% static 'assets/vendor/jsvectormap/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Theme Config Js -->
<script src="{% static 'assets/js/hyper-config.js' %}"></script>

<!-- Jquery -->
<script src="{% static 'assets/jquery/jquery-3.7.1.min.js' %}"></script>

<!-- Vendor css -->
<link href="{% static 'assets/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
