{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="/" class="logo logo-light">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-dark.png' %}" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-dark-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="user-image" height="42" class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">{{ user.get_full_name|default:user.username }}</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Panel de control</li>

            <li class="side-nav-item">
                <a href="{% url 'index' %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Inicio </span>
                </a>
            </li>

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' %}
            <li class="side-nav-title">usuario / Cliente</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarUsers" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Usuarios </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarUsers">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{% url 'index_usuario' %}">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'cliente' %}
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarClients" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Clientes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarClients">
                    <ul class="side-nav-second-level">
                        {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' %}
                        <li>
                            <a href="{% url 'index_clientes' %}">Clientes</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'index_mensaje' %}">
                                {% if user.profile.rol == 'cliente' %}Mis Mensajes{% else %}Mensajes{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'analista' or user.profile.rol == 'supervisor' %}
            <li class="side-nav-title">Inventario</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarInventario" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Materiales </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarInventario">
                    <ul class="side-nav-second-level">
                        {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' %}
                        <li>
                            <a href="{% url 'index_categorias' %}">Categorias</a>
                        </li>
                        <li>
                            <a href="{% url 'index_unidades_medida' %}">Unidad medida</a>
                        </li>
                        <li>
                            <a href="{% url 'index_proveedores' %}">Proveedores</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'index_materiales_servicios' %}">Materiales</a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'index_especialidades' %}" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Especialidades </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="{% url 'index_trabajadores' %}" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Trabajadores </span>
                </a>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'supervisor' %}
            <li class="side-nav-title">Equipos y maquinarias</li>

            <li class="side-nav-item">
                <a href="{% url 'index_equipos_maquinarias' %}" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Equipos maquinarias </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'index_encargar_maquina_equipos' %}" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Encargar maquinaria </span>
                </a>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'analista' %}
            <li class="side-nav-title">Presupuesto</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPresupuesto" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Presupuesto </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPresupuesto">
                    <ul class="side-nav-second-level">
                        {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'analista' %}
                        <li>
                            <a href="{% url 'index_presupuestos' %}">Crear</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'index_presupuestos_lista' %}">
                                {% if user.profile.rol == 'cliente' %}Mis Presupuestos{% else %}Listar{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'supervisor' or user.profile.rol == 'analista' %}
            <li class="side-nav-title">Reportes</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarReportes" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Reportes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarReportes">
                    <ul class="side-nav-second-level">
                        {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' %}
                        <li>
                            <a href="{% url 'index_clientes_reporte' %}">Clientes</a>
                        </li>
                        <li>
                            <a href="#">Proveedores</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">Materiales</a>
                        </li>
                        <li>
                            <a href="#">Trabajadores</a>
                        </li>
                        {% if user.profile.rol == 'admin' or user.profile.rol == 'gerente' or user.profile.rol == 'supervisor' %}
                        <li>
                            <a href="#">Equipos y maquinarias</a>
                        </li>
                        <li>
                            <a href="#">Encargaturas de Maquina/Equipo</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">Presupuestos</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if user.profile.rol == 'admin' %}
            <li class="side-nav-title">Configuraciones</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarSistema" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Sistema </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarSistema">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{% url 'index_comprobante' %}">Comprobantes</a>
                        </li>
                        <li>
                            <a href="{% url 'index_unidades_medida' %}">Unidad medida</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Ayuda </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Soporte </span>
                </a>
            </li>

        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->