{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="/" class="logo logo-light">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-dark.png' %}" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-dark-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="user-image" height="42" class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">Dominic Keller</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Panel de control</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="{% url 'index' %}" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Inicio </span>
                </a>
                
            </li>

            <li class="side-nav-title">usuario / Cliente</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarUsers" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Usuarios </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarUsers">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-ecommerce-products.html">Roles</a>
                        </li>
                        <li>
                            <a href="{% url 'index_usuario' %}">Usuarios</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-orders.html">Múdulos</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-orders-details.html">Acciones</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarClients" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Clientes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarClients">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{% url 'index_clientes' %}">Clientes</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Contactos</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title">Inventario</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarInventario" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Materiales </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarInventario">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{% url 'index_categorias' %}">Categorias</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Unidad medida</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Proveedores</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Materiales</a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li class="side-nav-item">
                <a href="apps-calendar.html" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Especialidades </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Trabajadores </span>
                </a>
            </li>
            
            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Equipos </span>
                </a>
            </li>

            <li class="side-nav-title">Presupuesto</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPresupuesto" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Presupuesto </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPresupuesto">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-ecommerce-products.html">Crear</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Listar</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title">Reportes</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarReportes" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Reportes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarReportes">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-ecommerce-products.html">Categorias</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Unidad medida</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Materiales</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Presupuestos</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title">Configuraciones</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarSistema" aria-expanded="false" aria-controls="sidebarInventario" class="side-nav-link">
                    <i class="uil-archive"></i>
                    <span> Sistema </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarSistema">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="apps-ecommerce-products.html">Categorias</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Unidad medida</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Materiales</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Presupuestos</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Ayuda </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Soporte </span>
                </a>
            </li>

        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->