{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
  Clientes
{% endblock %}
{% block content_admin %}
  <!-- Start Content -->
  <div class="container-fluid">

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
    </script>

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'index_clientes' %}">Clientes</a>
              </li>
              <li class="breadcrumb-item active">Lista de clientes</li>
            </ol>
          </div>
          <h4 class="page-title">Administrar clientes</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="header-title mb-0">Tabla de clientes</h4>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_nuevo_cliente"><i class="uil-plus"></i> Nuevo cliente</button>
            </div>
            <div class="tab-content">
              <div class="tab-pane show active" id="basic-datatable-preview">
                <table id="tabla_clientes" class="tabla_clientes table table-striped dt-responsive nowrap " width="100%" >
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Nombre</th>
                      <th>Numero documento</th>
                      <th>Dirección</th>
                      <th>telefono</th>
                      <th>correo</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody id="datos_clientes"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}MODAL NUEVO CLIENTE{% endcomment %}
    <div id="modal_nuevo_cliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Nuevo Cliente</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" id="form_crear_cliente">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group mb-2">
                <label for="tipo_documento" class="form-label">Selecion el tipo de documento <span class="text-danger">(*)</span></label>
                <select name="tipo_documento" id="tipo_documento" class="form-select">
                  <option selected disabled>Selecionar</option>
                  <option value="DNI">DNI</option>
                  <option value="RUC">RUC</option>
                  <option value="PASAPORTE">Pasaporte</option>
                  <option value="OTRO">Otro</option>
                </select>
                <span class="text-danger" id="error_tipo_documento"></span>
              </div>

              <div class="form-group mb-2">
                <label for="num_documento" class="form-label">Número de documento <span class="text-danger">(*)</span></label>
                <div class="input-group">
                  <input type="text" name="num_documento" id="num_documento" class="form-control" placeholder="Ingrese el número de documento" />
                  <button type="button" class="btn btn-secondary" id="btn_consultar_documento">Consultar</button>
                </div>
                <span class="text-danger" id="error_num_documento_cliente"></span>
              </div>

              <div class="form-group mb-2" id="seccion_nombre">
                <label for="nombre" class="form-label" id="nombre_razon_social"></label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre" />
                <span class="text-danger" id="error_nombre_cliente"></span>
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Dirección</label>
                <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Ingrese la dirección" />
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Teléfono</label>
                <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese el teléfono" />
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Correo</label>
                <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese el correo" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" id="btn_guardar_cliente" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

    {% comment %}MODAL EDITAR CLIENTE{% endcomment %}
    <div id="modal_editar_cliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Nuevo Cliente</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" id="form_editar_cliente">
            {% csrf_token %}
            <div class="modal-body">
              
              <input type="text" hidden id="cliente_id_edit" />

              <div class="form-group mb-2">
                <label for="tipo_documento_edit" class="form-label">Selecion el tipo de documento <span class="text-danger">(*)</span></label>
                <select name="tipo_documento" id="tipo_documento_edit" class="form-select">
                  <option selected disabled>Selecionar</option>
                  <option value="DNI">DNI</option>
                  <option value="RUC">RUC</option>
                  <option value="PASAPORTE">Pasaporte</option>
                  <option value="OTRO">Otro</option>
                </select>
                <span class="text-danger" id="error_tipo_documento_edit"></span>
              </div>

              <div class="form-group mb-2">
                <label for="num_documento_edit" class="form-label">Número de documento <span class="text-danger">(*)</span></label>
                <div class="input-group">
                  <input type="text" name="num_documento" id="num_documento_edit" class="form-control" placeholder="Ingrese el número de documento" />
                  <button type="button" class="btn btn-secondary" id="btn_consultar_documento_edit">Consultar</button>
                </div>
                <span class="text-danger" id="error_num_documento_cliente_edit"></span>
              </div>

              <div class="form-group mb-2" id="seccion_nombre_edit">
                <label for="nombre_edit" class="form-label" id="nombre_razon_social_edit"></label>
                <input type="text" name="nombre" id="nombre_edit" class="form-control" placeholder="Ingrese el nombre" />
                <span class="text-danger" id="error_nombre_cliente_edit"></span>
              </div>

              <div class="form-group mb-2">
                <label for="direccion_edit" class="form-label">Dirección</label>
                <input type="text" name="direccion" id="direccion_edit" class="form-control" placeholder="Ingrese la dirección" />
              </div>

              <div class="form-group mb-2">
                <label for="telefono_edit" class="form-label">Teléfono</label>
                <input type="text" name="telefono" id="telefono_edit" class="form-control" placeholder="Ingrese el teléfono" />
              </div>

              <div class="form-group mb-2">
                <label for="correo_edit" class="form-label">Correo</label>
                <input type="email" name="correo" id="correo_edit" class="form-control" placeholder="Ingrese el correo" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" id="btn_editar_cliente" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/clientes.js' %}"></script>
{% endblock extra_js %}
