{% load static %}
<div class="dashboard-main-body">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
        <h6 class="fw-semibold mb-0">Panel de control</h6>
        <ul class="d-flex align-items-center gap-2">
            <li class="fw-medium">
                <a href="{% url 'index' %}" class="d-flex align-items-center gap-1 hover-text-primary"><iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>Inicio</a>
            </li>
            <li>-</li>
            <li class="fw-medium">Presupuesto</li>
        </ul>
    </div>

    <div class="row row-cols-xxxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-4">
        <div class="col">
            <div class="card shadow-none border bg-gradient-start-1 h-100">
                <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                        <div>
                            <p class="fw-medium text-primary-light mb-1">Total de clientes</p>
                            <h6 class="mb-0">20,000</h6>
                        </div>
                        <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
                            <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
                        </div>
                    </div>
                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                        <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>+5000</span>
                        Últimos 30 días
                    </p>
                </div>
            </div>
            <!-- card end -->
        </div>
        <div class="col">
            <div class="card shadow-none border bg-gradient-start-2 h-100">
                <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                        <div>
                            <p class="fw-medium text-primary-light mb-1">Total de suscripciones</p>
                            <h6 class="mb-0">15,000</h6>
                        </div>
                        <div class="w-50-px h-50-px bg-purple rounded-circle d-flex justify-content-center align-items-center">
                            <iconify-icon icon="fa-solid:award" class="text-white text-2xl mb-0"></iconify-icon>
                        </div>
                    </div>
                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                        <span class="d-inline-flex align-items-center gap-1 text-danger-main"><iconify-icon icon="bxs:down-arrow" class="text-xs"></iconify-icon>-800</span>
                        Últimos 30 días
                    </p>
                </div>
            </div>
            <!-- card end -->
        </div>
        <div class="col">
            <div class="card shadow-none border bg-gradient-start-3 h-100">
                <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                        <div>
                            <p class="fw-medium text-primary-light mb-1">Total de usuarios</p>
                            <h6 class="mb-0">5,000</h6>
                        </div>
                        <div class="w-50-px h-50-px bg-info rounded-circle d-flex justify-content-center align-items-center">
                            <iconify-icon icon="fluent:people-20-filled" class="text-white text-2xl mb-0"></iconify-icon>
                        </div>
                    </div>
                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                        <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>+200</span>
                        Últimos 30 días
                    </p>
                </div>
            </div>
            <!-- card end -->
        </div>
        <div class="col">
            <div class="card shadow-none border bg-gradient-start-4 h-100">
                <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                        <div>
                            <p class="fw-medium text-primary-light mb-1">Total de ingresos</p>
                            <h6 class="mb-0">$42,000</h6>
                        </div>
                        <div class="w-50-px h-50-px bg-success-main rounded-circle d-flex justify-content-center align-items-center">
                            <iconify-icon icon="solar:wallet-bold" class="text-white text-2xl mb-0"></iconify-icon>
                        </div>
                    </div>
                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                        <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>+$20,000</span>
                        Últimos 30 días
                    </p>
                </div>
            </div>
            <!-- card end -->
        </div>
        <div class="col">
            <div class="card shadow-none border bg-gradient-start-5 h-100">
                <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                        <div>
                            <p class="fw-medium text-primary-light mb-1">Total de gastos</p>
                            <h6 class="mb-0">$30,000</h6>
                        </div>
                        <div class="w-50-px h-50-px bg-red rounded-circle d-flex justify-content-center align-items-center">
                            <iconify-icon icon="fa6-solid:file-invoice-dollar" class="text-white text-2xl mb-0"></iconify-icon>
                        </div>
                    </div>
                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                        <span class="d-inline-flex align-items-center gap-1 text-success-main"><iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>+$5,000</span>
                        Últimos 30 días
                    </p>
                </div>
            </div>
            <!-- card end -->
        </div>
    </div>

    <div class="col-xxl-6 mt-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Contenido Generado</h6>
                    <select class="form-select form-select-sm w-auto bg-base border text-secondary-light">
                        <option>Hoy</option>
                        <option>Semanal</option>
                        <option>Mensual</option>
                        <option>Anual</option>
                    </select>
                </div>

                <ul class="d-flex flex-wrap align-items-center mt-3 gap-3">
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px rounded-circle bg-primary-600"></span>
                        <span class="text-secondary-light text-sm fw-semibold">
                            Palabra:
                            <span class="text-primary-light fw-bold">500</span>
                        </span>
                    </li>
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px rounded-circle bg-yellow"></span>
                        <span class="text-secondary-light text-sm fw-semibold">
                            Imagen:
                            <span class="text-primary-light fw-bold">300</span>
                        </span>
                    </li>
                </ul>

                <div class="mt-40">
                    <div id="paymentStatusChart" class="margin-16-minus"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gy-4 mt-1">
        <div class="col-xxl-3 col-xl-6">
            <div class="card h-100 radius-8 border">
                <div class="card-body p-24">
                    <h6 class="mb-12 fw-semibold text-lg mb-16">Total de suscriptores</h6>
                    <div class="d-flex align-items-center gap-2 mb-20">
                        <h6 class="fw-semibold mb-0">5,000</h6>
                        <p class="text-sm mb-0">
                            <span class="bg-danger-focus border br-danger px-8 py-2 rounded-pill fw-semibold text-danger-main text-sm d-inline-flex align-items-center gap-1">10%<iconify-icon icon="iconamoon:arrow-down-2-fill" class="icon"></iconify-icon></span>
                            - 20 Por Día
                        </p>
                    </div>

                    <div id="barChart" class="barChart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-6">
            <div class="card h-100 radius-8 border-0 overflow-hidden">
                <div class="card-body p-24">
                    <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                        <h6 class="mb-2 fw-bold text-lg">Resumen de Usuarios</h6>
                        <div class="">
                            <select class="form-select form-select-sm w-auto bg-base border text-secondary-light">
                                <option>Hoy</option>
                                <option>Semanal</option>
                                <option>Mensual</option>
                                <option>Anual</option>
                            </select>
                        </div>
                    </div>

                    <div id="userOverviewDonutChart" class="apexcharts-tooltip-z-none"></div>

                    <ul class="d-flex flex-wrap align-items-center justify-content-between mt-3 gap-3">
                        <li class="d-flex align-items-center gap-2">
                            <span class="w-12-px h-12-px radius-2 bg-primary-600"></span>
                            <span class="text-secondary-light text-sm fw-normal">
                                Nuevo:
                                <span class="text-primary-light fw-semibold">500</span>
                            </span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <span class="w-12-px h-12-px radius-2 bg-yellow"></span>
                            <span class="text-secondary-light text-sm fw-normal">
                                Suscrito:
                                <span class="text-primary-light fw-semibold">300</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xxl-3 col-xl-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                        <h6 class="mb-2 fw-bold text-lg mb-0">Mejores Desempeños</h6>
                        <a href="javascript:void(0)" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">Ver Todos<iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon></a>
                    </div>

                    <div class="mt-32">
                        <div class="d-flex align-items-center justify-content-between gap-3 mb-24">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Dianne Russell</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$20</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-3 mb-24">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user2.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Wade Warren</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$20</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-3 mb-24">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user3.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Albert Flores</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$30</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-3 mb-24">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user4.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Bessie Cooper</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$40</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-3 mb-24">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user5.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Arlene McCoy</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$10</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden" />
                                <div class="flex-grow-1">
                                    <h6 class="text-md mb-0 fw-medium">Arlene McCoy</h6>
                                    <span class="text-sm text-secondary-light fw-medium">ID del Agente: 36254</span>
                                </div>
                            </div>
                            <span class="text-primary-light text-md fw-medium">$10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
