{% extends 'layouts/base.html' %}
{% block title %}
  Presupuesto
{% endblock %}
{% load static %}

{% block extra_css %}
  <style>
    .imagen_vista_material {
      transition: transform 0.3s ease; /* Transición suave */
      cursor: pointer;
  }

  .imagen_vista_material:hover {
      transform: scale(2); /* Escala la imagen al 200% de su tamaño */
  }

    .tabla_materiales_servicios_presupuesto tbody tr {
      cursor: pointer;
    }
    .tabla_lista_trabajadores tbody tr {
      cursor: pointer;
    }
    .tabla_lista_equipos_maquinas tbody tr {
      cursor: pointer;
    }

    .tabla_materiales_servicios_presupuesto tbody tr.selected {
      background-color: #e0f7fa;
      font-weight: bold;
    }
    #sub_total_terreno{
      text-align: right;
    }
    .sub_total_maquina{
      text-align: right;
      font-weight: bold;
    }
    .subtotal-material{
      text-align: right;
      font-weight: bold;
    }
    .sub_total_trabajador{
      text-align: right;
      font-weight: bold;
    }
  </style>
  <script>
    const RUTA_BASE_IMAGENES = "{% static 'img/materiales_servicios/' %}";
  </script>
{% endblock %}

{% block content_admin %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'index_presupuestos' %}">Presupuestos</a>
              </li>
              <li class="breadcrumb-item active">Crear presupuesto</li>
            </ol>
          </div>
          <h4 class="page-title">Crear un nuevo presupuesto</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form id="form_crear_presupuesto" method="POST">
              <input type="hidden" id="id_usuario_presupuesto" value="{{ user.id }}" name="" />

              <div class="row align-items-end">
                <div class="form-group mb-2 col-md-4">
                  <label for="" class="form-label">Selecione el cliente (<span class="text-danger">*</span>)</label>
                  <select name="id_cliente_presupuesto" id="id_cliente_presupuesto" class="form-select">

                  </select>
                  <span class="text-danger" id="id_cliente_presupuesto_error"></span>
                </div>
                <div class="form-group mb-2 col-md-2 justify-content-center align-items-center">
                  <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_nuevo_cliente" ><i class="uil-plus"></i> Agregar</button>
                </div>

                <div class="form-group mb-2 col-md-3">
                  <label for="fecha" class="form-label">Fecha (<span class="text-danger">*</span>)</label>
                  <input type="date" id="fecha" name="fecha" class="form-control" />
                  <span class="text-danger" id="fecha_presupuesto_error"></span>
                </div>

                <div class="form-group mb-2 col-md-3">
                  <label for="hora" class="form-label">Hora (<span class="text-danger">*</span>)</label>
                  <input type="text" id="hora" name="hora" class="form-control" readonly disabled />
                  <span class="text-danger" id="hora_presupuesto_error"></span>
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-2 col-md-3">
                  <label for="id_comprobante" class="form-label">Selecione el comprobante (<span class="text-danger">*</span>)</label>
                  <select name="id_comprobante" id="id_comprobante" class="form-select">

                  </select>
                  <span class="text-danger" id="id_comprobante_presupuesto_error"></span>
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="serie" class="form-label">Serie (<span class="text-danger">*</span>)</label>
                  <input type="text" id="serie" name="serie" class="form-control" placeholder="Serie" readonly disabled />
                  <span class="text-danger" id="serie_presupuesto_error"></span>
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="numero" class="form-label">Número (<span class="text-danger">*</span>)</label>
                  <input type="text" id="numero" name="numero" class="form-control" placeholder="Número" readonly disabled />
                  <span class="text-danger" id="numero_presupuesto_error"></span>
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="impuesto" class="form-label">Impuesto (%)</label>
                  <input type="text" id="impuesto" name="impuesto" value="0.00" min="0.00" class="form-control" placeholder="Impuesto" />
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-2 col-md-12">
                  <label for="descripcion" class="form-label">Descripción del proyecto</label>
                  <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese la descripción del proyecto"></textarea>
                </div>
              </div>

              <ul class="nav nav-tabs nav-bordered mb-3">
                <li class="nav-item">
                  <a href="#seccion_metros_terreno_presupuesto" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">Metros de terreno (<span class="text-danger">*</span>)</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_materiales_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Materiales (<span class="text-danger">*</span>)</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_trabajadores_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Trabajadores (<span class="text-danger">*</span>)</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_equipos_maquinas_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Equipos & maquinarias (<span class="text-danger">*</span>)</a>
                </li>
              </ul>

              <div class="tab-content">

                {% comment %}======================================================= SECCION DE METROS DE TERRENO ======================================================={% endcomment %}
                <div class="tab-pane fade show active" id="seccion_metros_terreno_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="form-group mb-2 col-md-4">
                          <label for="medida_terreno" class="form-label">Medida del terreno m2</label>
                          <input type="number" id="medida_terreno" name="medida_terreno" class="form-control" placeholder="Medida de terreno" />
                        </div>
                        <div class="form-group mb-2 col-md-4">
                          <label for="" class="form-label">Precio m2</label>
                          <input type="number" id="precio_terreno" name="precio_terreno" class="form-control" placeholder="Precio por metros cuadrados" />
                        </div>
                        <div class="form-group mb-2 col-md-4">
                          <label for="sub_total_terreno" class="form-label">Sub total</label>
                          <input type="number" id="sub_total_terreno" name="sub_total_terreno" value="0.00" class="form-control" readonly disabled />
                        </div>
                      </div>
                       <!-- Contenedor del subtotal alineado a la derecha -->
                       <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_metros_terreno" class="fw-bold">S/ 0.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE MATERIALES ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_materiales_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal_agregar_materiales" style="width: auto;"><i class="uil-plus"></i> Agregar materiales</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="basic-datatable" class="tabla_materiales_seleccionado_presupuesto table table-striped dt-responsive nowrap" width="100%">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Accion</th>
                                <th>Material</th>
                                <th>Catidad</th>
                                <th>Precio</th>
                                <th>Sub total</th>
                              </tr>
                            </thead>
                            <tbody id="data_detalles_materiales_presupuesto">

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_meteriales" class="fw-bold">S/ 2,234.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE TRABAJADORES ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_trabajadores_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal_lista_trabajadores" style="width: auto;"><i class="uil-plus"></i> Agregar trabajadores</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="tabla_detalle_trabajadores" class="tabla_detalle_trabajadores table table-striped dt-responsive nowrap" width="100%">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Acción</th>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Tipo de sueldo</th>
                                <th>Sueldo</th>
                                <th>Cantidad tiempo</th>
                                <th>Sub total</th>
                              </tr>
                            </thead>
                            <tbody id="data_detalles_trabajadores_presupuesto">
                              

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_trabajadores_presupuesto" class="fw-bold">S/ 0.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE EQUIPOS Y MAQUINARIAS ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_equipos_maquinas_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal_lista_maquina_equipos" style="width: auto;"><i class="uil-plus"></i> Agregar máquinas y equipos</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="tabla_detalle_maquinas_equipos_presupuesto" class="tabla_detalle_maquinas_equipos_presupuesto table table-striped dt-responsive nowrap" width="100%">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Acción</th>
                                <th>Tipo</th>
                                <th>Maquina o Equipo</th>
                                <th>Tipo de sueldo</th>
                                <th>Sueldo</th>
                                <th>Cantidad tiempo</th>
                                <th>Sub total</th>
                              </tr>
                            </thead>
                            <tbody id="data_detalles_maquinas_equipos_presupuesto">

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_maquinas_equipos" class="fw-bold">S/ 0.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <hr>

              <div class="row">
                
                <div class="form-group mb-2 col-md-4">
                  <label for="condicion_pago">Condición de pago</label>
                  <textarea name="condicion_pago" id="condicion_pago" class="form-control" placeholder="Ingrese las condiciones del pago"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="plazo_ejecucion">Plazo de ejecución</label>
                  <textarea name="plazo_ejecucion" id="plazo_ejecucion" class="form-control" placeholder="Ingrese el plazo de ejecución del proyecto"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="garantia">Garantía</label>
                  <textarea name="garantia" id="garantia" class="form-control" placeholder="Ingresa la garantía para el proyecto"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="nota">Notas adicionales</label>
                  <textarea name="nota" id="nota" class="form-control" placeholder="Ingrese notas adicionales"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="observacion">Observaciones</label>
                  <textarea name="observacion" id="observacion" class="form-control" placeholder="Ingrese algunas observaciones"></textarea>
                </div>

              </div>

              <div class="row d-flex justify-content-end">
                <div class="col-md-6 bottom-0 end-0 mb-4">
                  <div class="d-flex justify-content-between mb-2">
                    <h4 class="fw-bold">Sub Total</h4>
                    <h4 id="sub_total_presupuesto">S/ 0.00</h4>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <h4 class="fw-bold">Impuesto</h4>
                    <h4 id="sub_total_impuesto_presupuesto">S/ 0.00</h4>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h4 class="fw-bold">Total</h4>
                    <h4 id="total_presupuesto">S/ 0.00</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="d-flex justify-content-end">
                  <button type="button" id="btn_crear_presupuesto" class="btn btn-primary w-50">Crear presupuesto</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    {% comment %}MODAL NUEVO CLIENTE{% endcomment %}
    <div id="modal_nuevo_cliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Nuevo Cliente</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" id="form_crear_cliente">
            <div class="modal-body">
              <div class="form-group mb-2">
                <label for="tipo_documento" class="form-label">Selecion el tipo de documento <span class="text-danger">(*)</span></label>
                <select name="tipo_documento" id="tipo_documento" class="form-select">
                  <option selected disabled>Selecionar</option>
                  <option value="DNI">DNI</option>
                  <option value="RUC">RUC</option>
                  <option value="PASAPORTE">Pasaporte</option>
                  <option value="OTRO">Otro</option>
                </select>
                <span class="text-danger" id="error_tipo_documento"></span>
              </div>

              <div class="form-group mb-2">
                <label for="num_documento" class="form-label">Número de documento <span class="text-danger">(*)</span></label>
                <div class="input-group">
                  <input type="text" name="num_documento" id="num_documento" class="form-control" placeholder="Ingrese el número de documento" />
                  <button type="button" class="btn btn-secondary" id="btn_consultar_documento">Consultar</button>
                </div>
                <span class="text-danger" id="error_num_documento_cliente"></span>
              </div>

              <div class="form-group mb-2" id="seccion_nombre">
                <label for="nombre" class="form-label" id="nombre_razon_social"></label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre" />
                <span class="text-danger" id="error_nombre_cliente"></span>
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Dirección</label>
                <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Ingrese la dirección" />
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Teléfono</label>
                <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese el teléfono" />
              </div>

              <div class="form-group mb-2">
                <label for="" class="form-label">Correo</label>
                <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese el correo" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" id="btn_guardar_cliente" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

    {% comment %}MODAL LISTA DE MATERIAL O SERVICIO{% endcomment %}
    <div id="modal_agregar_materiales" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Selecione el material para agregar</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane show active" id="basic-datatable-preview">
                <table id="tabla_materiales_servicios_presupuesto" class="tabla_materiales_servicios_presupuesto table table-striped dt-responsive nowrap" width="100%">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th hidden>Id</th>
                      <th>Categoría</th>
                      <th>Imagen</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Stock</th>
                    </tr>
                  </thead>
                  <tbody id="datos_materiales_servicios_presupuesto"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

    {% comment %}MODAL LISTA DE TRABAJADORES{% endcomment %}
    <div id="modal_lista_trabajadores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Selecione el trabajador</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane show active">
                <table id="tabla_lista_trabajadores" class="tabla_lista_trabajadores table table-striped dt-responsive nowrap" width="100%">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th hidden>Id</th>
                      <th>Trabajador</th>
                      <th>Especialidad</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

    {% comment %}MODAL LISTA DE EQUIPOS Y MAQUINAS{% endcomment %}
    <div id="modal_lista_maquina_equipos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Selecione el equipo o máquina</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane show active" id="basic-datatable-preview">
                <table id="basic-datatable" class="tabla_lista_equipos_maquinas table table-striped dt-responsive nowrap w-100">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th hidden>Id</th>
                      <th>Tipo</th>
                      <th>Máquina o Equipo</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}

{% endblock %}
