{% extends 'layouts/base.html' %}
{% block title %}
  Presupuesto
{% endblock %}
{% load static %}

{% block extra_css %}
  <script>
    const RUTA_BASE_IMAGENES = "{% static 'img/materiales_servicios/' %}"
  </script>
{% endblock %}

{% block content_admin %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'index_materiales_servicios' %}">Materiales o Servicios</a>
              </li>
              <li class="breadcrumb-item active">Lista de materiales o servicios</li>
            </ol>
          </div>
          <h4 class="page-title">Administrar Materiales o Servicios</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form action="" id="form_crear_presupuesto">
              <input type="text" id="id_usuario_presupuesto" value="{{ user.id }}" name="" />

              <div class="row">
                <div class="form-group mb-2 col-md-4">
                  <label for="" class="form-label">Selecione el cliente (<span class="text-danger">*</span>)</label>
                  <select name="id_cliente_presupuesto" id="id_cliente_presupuesto" class="form-select"></select>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="fecha" class="form-label">Fecha (<span class="text-danger">*</span>)</label>
                  <input type="date" id="fecha" name="fecha" class="form-control" />
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="hora" class="form-label">Hora (<span class="text-danger">*</span>)</label>
                  <input type="text" id="hora" name="hora" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-2 col-md-3">
                  <label for="id_comprobante" class="form-label">Selecione el comprobante (<span class="text-danger">*</span>)</label>
                  <select name="id_comprobante" id="id_comprobante" class="form-select"></select>
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="serie" class="form-label">Serie (<span class="text-danger">*</span>)</label>
                  <input type="text" id="serie" name="serie" class="form-control" placeholder="Serie" />
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="numero" class="form-label">Número (<span class="text-danger">*</span>)</label>
                  <input type="text" id="numero" name="numero" class="form-control" placeholder="Número" />
                </div>
                <div class="form-group mb-2 col-md-3">
                  <label for="impuesto" class="form-label">Impuesto</label>
                  <input type="text" id="impuesto" name="impuesto" value="0.00" min="0.00" class="form-control" placeholder="Impuesto" />
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-2 col-md-12">
                  <label for="descripcion" class="form-label">Descripción del proyecto</label>
                  <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese la descripción del proyecto"></textarea>
                </div>
              </div>

              <ul class="nav nav-tabs nav-bordered mb-3">
                <li class="nav-item">
                  <a href="#seccion_metros_terreno_presupuesto" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">Metros de terreno</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_materiales_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Materiales</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_trabajadores_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Trabajadores</a>
                </li>
                <li class="nav-item">
                  <a href="#seccion_equipos_maquinas_presupuesto" data-bs-toggle="tab" aria-expanded="true" class="nav-link">Equipos & maquinarias</a>
                </li>
              </ul>

              <div class="tab-content">

                {% comment %}======================================================= SECCION DE METROS DE TERRENO ======================================================={% endcomment %}
                <div class="tab-pane fade show active" id="seccion_metros_terreno_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="form-group mb-2 col-md-4">
                          <label for="medida_terreno" class="form-label">Medida del terreno m2</label>
                          <input type="number" id="medida_terreno" name="medida_terreno" class="form-control" placeholder="Medida de terreno" />
                        </div>
                        <div class="form-group mb-2 col-md-4">
                          <label for="" class="form-label">Precio m2</label>
                          <input type="number" id="precio_terreno" name="precio_terreno" class="form-control" placeholder="Precio por metros cuadrados" />
                        </div>
                        <div class="form-group mb-2 col-md-4">
                          <label for="sub_total_terreno" class="form-label">Sub total</label>
                          <input type="number" id="sub_total_terreno" name="sub_total_terreno" value="0.00" class="form-control" readonly disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE MATERIALES ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_materiales_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#agregar_materiales" style="width: auto;"><i class="uil-plus"></i> Agregar materiales</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="basic-datatable" class="tabla_categorias table table-striped dt-responsive nowrap w-100">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Categoría</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody id="datos_categorias"></tbody>
                          </table>
                        </div>
                      </div>
                      <!-- Contenedor del subtotal alineado a la derecha -->
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_meteriales" class="fw-bold">S/ 2,234.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE TRABAJADORES ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_trabajadores_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#agregar_materiales" style="width: auto;"><i class="uil-plus"></i> Agregar trabajadores</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="basic-datatable" class="tabla_categorias table table-striped dt-responsive nowrap w-100">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Categoría</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody id="datos_categorias"></tbody>
                          </table>
                        </div>
                      </div>
                      <!-- Contenedor del subtotal alineado a la derecha -->
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_meteriales" class="fw-bold">S/ 2,234.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

                {% comment %}======================================================= SECCION DE EQUIPOS Y MAQUINARIAS ======================================================={% endcomment %}
                <div class="tab-pane fade" id="seccion_equipos_maquinas_presupuesto">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#agregar_materiales" style="width: auto;"><i class="uil-plus"></i> Agregar máquinas y equipos</button>
                      <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                          <table id="basic-datatable" class="tabla_categorias table table-striped dt-responsive nowrap w-100">
                            <thead>
                              <tr>
                                <th>N°</th>
                                <th>Categoría</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody id="datos_categorias"></tbody>
                          </table>
                        </div>
                      </div>
                      <!-- Contenedor del subtotal alineado a la derecha -->
                      <div class="d-flex justify-content-end align-items-end mt-3">
                        <h4 class="mb-0">Sub Total: <span id="sub_total_meteriales" class="fw-bold">S/ 2,234.00</span></h4>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <hr>

              <div class="row">
                
                <div class="form-group mb-2 col-md-4">
                  <label for="condicion_pago">Condición de pago</label>
                  <textarea name="condicion_pago" id="condicion_pago" class="form-control" placeholder="Ingrese las condiciones del pago"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="plazo_ejecucion">Plazo de ejecución</label>
                  <textarea name="plazo_ejecucion" id="plazo_ejecucion" class="form-control" placeholder="Ingrese el plazo de ejecución del proyecto"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="garantia">Garantía</label>
                  <textarea name="garantia" id="garantia" class="form-control" placeholder="Ingresa la garantía para el proyecto"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="nota">Notas adicionales</label>
                  <textarea name="nota" id="nota" class="form-control" placeholder="Ingrese notas adicionales"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                  <label for="observacion">Observaciones</label>
                  <textarea name="observacion" id="observacion" class="form-control" placeholder="Ingrese algunas observaciones"></textarea>
                </div>

              </div>

              <div class="row d-flex justify-content-end">
                <div class="col-md-6 bottom-0 end-0 mb-4">
                  <div class="d-flex justify-content-between mb-2">
                    <h4 class="fw-bold">Sub Total</h4>
                    <h4>S/ 2,345,234.00</h4>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <h4 class="fw-bold">Impuesto</h4>
                    <h4>S/ 2,345,234.00</h4>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h4 class="fw-bold">Total</h4>
                    <h4>S/ 34,5454.00</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="d-flex justify-content-end">
                  <button type="button" id="btn_crear_presupuesto" class="btn btn-primary w-50">Crear presupuesto</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    {% comment %}MODAL NUEVO MATERIAL O SERVICIO{% endcomment %}
    <div id="agregar_materiales" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Selecione el material para agregar</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane show active" id="basic-datatable-preview">
                <table id="basic-datatable" class="tabla_categorias table table-striped dt-responsive nowrap w-100">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Categoría</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody id="datos_categorias"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}

{% endblock %}
