{% extends 'layouts/base.html' %}
{% block title %}
    Equipos y Maquinarias
{% endblock %}
{% load static %}
{% block content_admin %}
    <!-- Start Content -->
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'index_equipos_maquinarias' %}">Equipos y Maquinarias</a>
                            </li>
                            <li class="breadcrumb-item active">Lista de Equipos y Maquinarias</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Administrar Equipos y Maquinarias</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="header-title mb-0">Tabla de Equipos y Maquinarias</h4>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_nuevo_equipo_maquinaria"><i class="uil-plus"></i> Nuevo Equipo/Maquinaria</button>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="basic-datatable" class="tabla_equipos_maquinarias table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Nombre</th>
                                            <th>Marca</th>
                                            <th>Descripción</th>
                                            <th>Costo Hora</th>
                                            <th>Costo Diario</th>
                                            <th>Costo Semanal</th>
                                            <th>Costo Quincenal</th>
                                            <th>Costo Mensual</th>
                                            <th>Costo Proyecto</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="datos_equipos_maquinarias"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}MODAL NUEVO EQUIPO/MAQUINARIA{% endcomment %}
        <div id="modal_nuevo_equipo_maquinaria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Nuevo Equipo/Maquinaria</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" id="form_crear_equipo_maquinaria">
                        <div class="modal-body">

                            <div class="row">
                                <div class="form-group mb-2 col-md-3">
                                    <label for="tipo" class="form-label">Tipo <span class="text-danger">(*)</span></label>
                                    <select name="tipo" id="tipo" class="form-select">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="Maquinaria">Maquinaria</option>
                                        <option value="Equipo">Equipo</option>
                                    </select>
                                    <span class="text-danger" id="error_tipo"></span>
                                </div>
    
                                <div class="form-group mb-2 col-md-5">
                                    <label for="nombre" class="form-label">Nombre <span class="text-danger">(*)</span></label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre" />
                                    <span class="text-danger" id="error_nombre"></span>
                                </div>
    
                                <div class="form-group mb-2 col-md-4">
                                    <label for="marca" class="form-label">Marca</label>
                                    <input type="text" name="marca" id="marca" class="form-control" placeholder="Ingrese la marca" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mb-2 col-md-6">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese la descripción" />
                                </div>
    
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_hora" class="form-label">Costo Hora</label>
                                    <input type="number" step="0.01" name="costo_hora" id="costo_hora" class="form-control" placeholder="Ingrese el costo por hora" />
                                </div>
                                
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_diario" class="form-label">Costo Diario</label>
                                    <input type="number" step="0.01" name="costo_diario" id="costo_diario" class="form-control" placeholder="Ingrese el costo diario" />
                                </div>
                            </div>

                            <div class="row">
                                
                                
    
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_semanal" class="form-label">Costo Semanal</label>
                                    <input type="number" step="0.01" name="costo_semanal" id="costo_semanal" class="form-control" placeholder="Ingrese el costo semanal" />
                                </div>
    
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_quincenal" class="form-label">Costo Quincenal</label>
                                    <input type="number" step="0.01" name="costo_quincenal" id="costo_quincenal" class="form-control" placeholder="Ingrese el costo quincenal" />
                                </div>
    
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_mensual" class="form-label">Costo Mensual</label>
                                    <input type="number" step="0.01" name="costo_mensual" id="costo_mensual" class="form-control" placeholder="Ingrese el costo mensual" />
                                </div>
    
                                <div class="form-group mb-2 col-md-3">
                                    <label for="costo_proyecto" class="form-label">Costo Proyecto</label>
                                    <input type="number" step="0.01" name="costo_proyecto" id="costo_proyecto" class="form-control" placeholder="Ingrese el costo del proyecto" />
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="btn_guardar_equipo_maquinaria" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        {% comment %}MODAL EDITAR EQUIPO/MAQUINARIA{% endcomment %}
        <div id="modal_editar_equipo_maquinaria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="edit-modalLabel">Editar Equipo/Maquinaria</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" id="form_editar_equipo_maquinaria">
                        <div class="modal-body">

                            <input type="text" hidden id="equipo_maquinaria_id_edit">

                            <div class="row">
                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_tipo" class="form-label">Tipo <span class="text-danger">(*)</span></label>
                                    <select name="edit_tipo" id="edit_tipo" class="form-select">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="Maquinaria">Maquinaria</option>
                                        <option value="Equipo">Equipo</option>
                                    </select>
                                    <span class="text-danger" id="error_edit_tipo"></span>
                                </div>

                                <div class="form-group mb-2 col-md-5">
                                    <label for="edit_nombre" class="form-label">Nombre <span class="text-danger">(*)</span></label>
                                    <input type="text" name="edit_nombre" id="edit_nombre" class="form-control" placeholder="Ingrese el nombre" />
                                    <span class="text-danger" id="error_edit_nombre"></span>
                                </div>

                                <div class="form-group mb-2 col-md-4">
                                    <label for="edit_marca" class="form-label">Marca</label>
                                    <input type="text" name="edit_marca" id="edit_marca" class="form-control" placeholder="Ingrese la marca" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mb-2 col-md-6">
                                    <label for="edit_descripcion" class="form-label">Descripción</label>
                                    <input type="text" name="edit_descripcion" id="edit_descripcion" class="form-control" placeholder="Ingrese la descripción" />
                                </div>

                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_hora" class="form-label">Costo Hora</label>
                                    <input type="number" step="0.01" name="edit_costo_hora" id="edit_costo_hora" class="form-control" placeholder="Ingrese el costo por hora" />
                                </div>
                                
                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_diario" class="form-label">Costo Diario</label>
                                    <input type="number" step="0.01" name="edit_costo_diario" id="edit_costo_diario" class="form-control" placeholder="Ingrese el costo diario" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_semanal" class="form-label">Costo Semanal</label>
                                    <input type="number" step="0.01" name="edit_costo_semanal" id="edit_costo_semanal" class="form-control" placeholder="Ingrese el costo semanal" />
                                </div>

                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_quincenal" class="form-label">Costo Quincenal</label>
                                    <input type="number" step="0.01" name="edit_costo_quincenal" id="edit_costo_quincenal" class="form-control" placeholder="Ingrese el costo quincenal" />
                                </div>

                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_mensual" class="form-label">Costo Mensual</label>
                                    <input type="number" step="0.01" name="edit_costo_mensual" id="edit_costo_mensual" class="form-control" placeholder="Ingrese el costo mensual" />
                                </div>

                                <div class="form-group mb-2 col-md-3">
                                    <label for="edit_costo_proyecto" class="form-label">Costo Proyecto</label>
                                    <input type="number" step="0.01" name="edit_costo_proyecto" id="edit_costo_proyecto" class="form-control" placeholder="Ingrese el costo del proyecto" />
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="btn_editar_equipo_maquinaria" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/equipos_maquinarias.js' %}"></script>
{% endblock %}
