{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
    Especialidades
{% endblock %}
{% block content_admin %}
    <!-- Start Content -->
    <div class="container-fluid">
        <script>
            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
          </script>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'index_especialidades' %}">Especialidades</a>
                            </li>
                            <li class="breadcrumb-item active">Lista de especialidades</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Administrar especialidades</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="header-title mb-0">Tabla de especialidades</h4>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_nueva_especialidad"><i class="uil-plus"></i> Nueva especialidad</button>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="basic-datatable" class="tabla_especialidades table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Especialidad</th>
                                            <th>Función</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="datos_especialidades"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}MODAL NUEVA ESPECIALIDAD{% endcomment %}
        <div id="modal_nueva_especialidad" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Nueva Especialidad</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" id="form_crear_especialidad">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group mb-2">
                                <label for="especialidad" class="form-label">Especialidad <span class="text-danger">(*)</span></label>
                                <input type="text" name="especialidad" id="especialidad" class="form-control" placeholder="Ingrese la especialidad" />
                                <span class="text-danger" id="error_especialidad"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label for="funcion" class="form-label">Función</label>
                                <input type="text" name="funcion" id="funcion" class="form-control" placeholder="Ingrese la función" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="btn_guardar_especialidad" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        {% comment %}MODAL EDITAR ESPECIALIDAD{% endcomment %}
        <div id="modal_editar_especialidad" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Editar Especialidad</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" id="form_editar_especialidad">
                        {% csrf_token %}
                        <div class="modal-body">
                            
                            <input type="text" hidden id="especialidad_id_edit" />

                            <div class="form-group mb-2">
                                <label for="especialidad_edit" class="form-label">Especialidad <span class="text-danger">(*)</span></label>
                                <input type="text" name="especialidad" id="especialidad_edit" class="form-control" placeholder="Ingrese la especialidad" />
                                <span class="text-danger" id="error_especialidad_edit"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label for="funcion_edit" class="form-label">Función</label>
                                <input type="text" name="funcion" id="funcion_edit" class="form-control" placeholder="Ingrese la función" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" id="btn_editar_especialidad" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/especialidades.js' %}"></script>
{% endblock %}
